# any file or folder listed here will not be included when you do a git add [.|folder|file]
_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
vendor/
_posts/**/*/*.html
